#mageMaelstrom {
  --default-background-color: rgb(15, 15, 24);
  background-color: var(--default-background-color);
  min-width: 100vw;
  min-height: 100vh;
  color: #d4d4a6;
}

#mageMaelstrom a {
  color: #b68be2;
}
