.healthBar {
  background-color: #1c1142;
  font-size: 18px;
  height: 18px;
  position: relative;
  font-family: "Versus";
}

.filledHealthBar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ff1131;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.tiny {
  font-size: 14px;
  margin-left: -2px;
}
