.victoryLabel {
  font-size: 24px;
  font-family: Versus;
}

.teamTitle {
  font-size: 30px;
  font-family: SmallTitle;
}

.tiny {
  font-size: 12px;
}

.error {
  background-color: rgb(104, 40, 61);
}

.drawGame {
  text-align: center;
  padding: 18px 0px;
  font-size: 138px;
}
