.wrapper {
  padding: 10px;
  background-color: rgb(73, 73, 108);

  --upper-left-border: rgb(134, 134, 169);
  --lower-right-border: rgb(61, 61, 109);

  border-width: 3px;
  border-style: solid;
  border-left-color: var(--upper-left-border);
  border-top-color: var(--upper-left-border);
  border-right-color: var(--lower-right-border);
  border-bottom-color: var(--lower-right-border);
  cursor: pointer;
}

.wrapper:not(.disabled):hover {
  background-color: rgb(86, 86, 123);

  --upper-left-border: rgb(154, 154, 187);
  --lower-right-border: rgb(72, 72, 123);
}

.name {
  font-family: SmallTitle;
  margin-bottom: 10px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
