.section {
  --upper-left-border: rgb(118, 118, 154);
  --lower-right-border: rgb(46, 46, 84);

  border-width: 3px;
  border-style: solid;
  background-color: rgb(11, 11, 17);
  border-left-color: var(--upper-left-border);
  border-top-color: var(--upper-left-border);
  border-right-color: var(--lower-right-border);
  border-bottom-color: var(--lower-right-border);
}

.sliderWrapper {
  height: 62px;
  padding: 0px 15px;
}

.sliderWrapper :global(.rc-slider-tooltip-inner) {
  background-color: rgb(27, 27, 39);
  padding: 7px;
  font-size: 13px;
}

.sliderWrapper :global(.rc-slider-rail) {
  background-color: rgb(38, 38, 56);
}

.sliderWrapper :global(.rc-slider-track) {
  background-color: rgb(142, 142, 169);
}

.sliderWrapper :global(.rc-slider-mark-text) {
  color: #d4d4a6;
}

.gameSpeed {
  width: 140px;
  font-size: 20px;
}

.tickCounter {
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
