.wrapper {
  padding: 8px;
  background-color: rgb(73, 73, 108);

  --upper-left-border: rgb(134, 134, 169);
  --lower-right-border: rgb(61, 61, 109);

  border-width: 3px;
  border-style: solid;
  border-left-color: var(--upper-left-border);
  border-top-color: var(--upper-left-border);
  border-right-color: var(--lower-right-border);
  border-bottom-color: var(--lower-right-border);
  color: rgb(241, 241, 204);
}

.name {
  font-weight: bold;
  font-family: Button;
  font-size: 20px;
}

.statusEffects {
  transition: 0.8s;
  overflow-y: hidden;
}
