.codingTips code {
  border: 1px solid rgb(59, 59, 77);
  background-color: rgb(36, 34, 56);
  padding: 1px 3px;
  margin-left: 1px;
  margin-right: 1px;
  color: #b2b29f;
  font-size: 92%;
}
