@font-face {
  font-family: "Versus";
  src: url("./MageMaelstrom/Fonts/OneSlice.otf");
}

@font-face {
  font-family: "SmallTitle";
  src: url("./MageMaelstrom/Fonts/Deutsch.ttf");
}

@font-face {
  font-family: "Body";
  src: url("./MageMaelstrom/Fonts/afterglow.woff2");
}

@font-face {
  font-family: "Ability";
  src: url("./MageMaelstrom/Fonts/Timeless.ttf");
}

@font-face {
  font-family: "Button";
  src: url("./MageMaelstrom/Fonts/Brand.woff");
}

@font-face {
  font-family: "Title";
  src: url("./MageMaelstrom/Fonts/ringbearer.woff2");
}

.mageMaelstromTitle {
  font-family: Title;
  font-size: 64px;
  text-align: center;
}
