@font-face {
  font-family: "Versus";
  src: url("./MageMaelstrom/Fonts/OneSlice.otf");
}

@font-face {
  font-family: "SmallTitle";
  src: url("./MageMaelstrom/Fonts/Deutsch.ttf");
}

@font-face {
  font-family: "Body";
  src: url("./MageMaelstrom/Fonts/Brand.woff");
}
